// Reglas de seguridad para Firestore (modo proyecto académico)

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isValidSpace(data) {
      return data.name is string
        && data.category in ['parque','plaza','biblioteca','otro']
        && data.coords.lat >= -90 && data.coords.lat <= 90
        && data.coords.lng >= -180 && data.coords.lng <= 180;
    }

    match /spaces/{docId} {
      allow read: if true; // Público para consulta
      allow create: if request.time < timestamp.date(2030, 1, 1)
        && isValidSpace(request.resource.data)
        && request.resource.data.keys().hasAll(['name','category','coords','features']);
      allow update, delete: if false; // Sin edición en el MVP
    }

    match /spaces/{docId}/accessories/{accId} {
      allow read: if true;
      allow create: if request.time < timestamp.date(2030, 1, 1)
        && request.resource.data.name is string
        && request.resource.data.quantity is int
        && request.resource.data.quantity > 0;
      allow delete: if true; // o restringe según tus necesidades
    }
  }
}